[submodule "external/trezor-common"]
	active = false
	path = external/trezor-common
	url = https://github.com/trezor/trezor-common.git
[submodule "external/supercop"]
	path = external/supercop
	url = https://git.wownero.com/dsc/supercop.git
    branch = cmake-rewrite
[submodule "external/randomwow"]
	path = external/randomwow
	url = https://git.wownero.com/dsc/randomwow.git
    branch = cmake-rewrite
