[Unit]
Description=Wownero Full Node
After=network.target

[Service]
User=wownero
Group=wownero
WorkingDirectory=~
StateDirectory=wownero
LogsDirectory=wownero

Type=simple
ExecStart=/usr/bin/wownerod --config-file /etc/wownerod.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
