[Unit]
Description=PeopleCoin Full Node
After=network.target

[Service]
User=peoplecoin
Group=peoplecoin
Environment="MONERO_RANDOMX_UMASK=1"
StateDirectory=peoplecoin
LogsDirectory=peoplecoin
Type=simple
ExecStart=/usr/local/bin/peoplecoind --config-file /etc/wow.conf --non-interactive
WorkingDirectory=~
Restart=always
StandardOutput=null
StandardError=null
Restart=always

[Install]
WantedBy=multi-user.target
